In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans

In [3]:
weather_data = pd.read_csv("weather_nominal.csv")
weather_data

    id   outlook temperature humidity  windy play
0    1     sunny         hot     high  False   no
1    2     sunny         hot     high   True   no
2    3  overcast         hot     high  False  yes
3    4     rainy        mild     high  False  yes
4    5     rainy        cool   normal  False  yes
5    6     rainy        cool   normal   True   no
6    7  overcast        cool   normal   True  yes
7    8     sunny        mild     high  False   no
8    9     sunny        cool   normal  False  yes
9   10     rainy        mild   normal  False  yes
10  11     sunny        mild   normal   True  yes
11  12  overcast        mild     high   True  yes
12  13  overcast         hot   normal  False  yes
13  14     rainy        mild     high   True   no

In [5]:
labelEncoder = LabelEncoder()
for i in weather_data.columns:
    if i !='id':
        weather_data[i] = labelEncoder.fit_transform(weather_data[i])
weather_data

    id  outlook  temperature  humidity  windy  play
0    1        2            1         0      0     0
1    2        2            1         0      1     0
2    3        0            1         0      0     1
3    4        1            2         0      0     1
4    5        1            0         1      0     1
5    6        1            0         1      1     0
6    7        0            0         1      1     1
7    8        2            2         0      0     0
8    9        2            0         1      0     1
9   10        1            2         1      0     1
10  11        2            2         1      1     1
11  12        0            2         0      1     1
12  13        0            1         1      0     1
13  14        1            2         0      1     0

In [6]:
kmeans = KMeans(n_clusters=2).fit(weather_data.iloc[:,1:])

In [9]:
print(kmeans.labels_)
print(kmeans.cluster_centers_)

[1 1 0 1 0 0 0 1 0 1 1 1 0 1]
[[0.66666667 0.33333333 0.83333333 0.33333333 0.83333333]
 [1.375      1.75       0.25       0.5        0.5       ]]